* {
    box-sizing: border-box;
}

:root {
    --clr-primary: #557fdc;
    --clr-bg: #e0e9f9;
    --clr-dark: #2d3c7b;
    --clr-light: #c8d9f5;

    --cell-size: 100px;
}

body {
    font-family: "Permenent Marker", cursive;
    padding: 50px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.4rem;
}

.game-board {
    height: calc(var(--cell-size)*3);
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(3, var(--cell-size));
    grid-template-rows: repeat(3, var(--cell-size));
    justify-items: center;
    align-items: center;
}

.game-square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: 100%;
    width: 100%;
    border-right: 1px solid var(--clr-dark);
    border-bottom: 1px solid var(--clr-dark);
    cursor: pointer;

    &:hover {
        background-color: var(--clr-light);
    }

    &:nth-child(3n) {
        border-right: none;
    }

    &:nth-child(n + 7) {
        border-bottom: none;
    }
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.message {
    color: white;
    font-size: 2rem;
}

.button {
    background-color: var(--clr-primary);
    color: var(--clr-light);
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}