body {
    font-family: "Permenent Marker", cursive;
    background-color: #e0e9f9;
    margin: 0;
    padding: 0;
}

section {
    text-align: center;
    border-radius: 5px;
    max-width: 550px;
    margin: auto;
    background-color: #fff;
    margin-top: 75px;
    box-shadow: 10px 10px 0px 0px #a2c1ee;
}
.title {
    padding-top: 20px;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin: 120px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.cell {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 20px;
}
button {
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #4163cf;
    cursor: pointer;
}
button:hover {
    transition: 0.25s;
    background-color: #4162cfcd;
}